.DS_Store

tbidbaxlipo/plots/bax_bax_nbd_release/mcmc/*.ensemble
tbidbaxlipo/plots/bax_bax_fret_nbd_release/mcmc/*.ensemble
tbidbaxlipo/plots/bax_bax_fret_nbd_release/fret_mcmc/*.ensemble

tbidbaxlipo/plots/bid_bim_nbd_release/mcmc/*.ensemble
tbidbaxlipo/plots/bid_bim_nbd_release/mcmc_norm_prior/*.ensemble
tbidbaxlipo/plots/bid_bim_fret_nbd_release/mcmc/*.ensemble
tbidbaxlipo/plots/bid_bim_fret_nbd_release/fret_mcmc/*.ensemble
tbidbaxlipo/plots/bid_bim_fret_nbd_release/fret_only_mcmc/*.ensemble
*.pos

results
doc/_build
doc/_static
doc/sphinxreport.log
doc/_downloads

thesis/_build
thesis/_static
thesis/sphinxreport.log

*.k1_hist
*.k2_hist
*.*_scaling
*.c1_peak
*_mx.txt
*.evi
*.lhs
*.detfit
*.pdf
*.mcmc
*.pos
*.posx
kale/doc/_build
kale/doc/_static
kale/doc/sphinxreport.log
kale/make/*.pdf
kale/make/*.png
kale/make/*.csv
*.deps.txt
*.fit
*.md5
*.net
*.gdat
*.cdat
*.bngl
*.log
*.tsv
*species.txt
.idea
*.rep
*.png
*.html
*.pyc
*.swp
anneal_output.txt
*.gv
*.dot
*.out
*.err
*.ka
imstor
matlab/
trash/
data/trash/
last_docs_built.txt
