.DS_Store

doc/_build
doc/_static
doc/sphinxreport.log
doc/_downloads

thesis/_build
thesis/_static
thesis/sphinxreport.log

*.net
*.gdat
*.cdat
*.bngl
*.log
*.tsv
*species.txt
.idea
*.rep
*.mcmc
*.png
*.html
*.pyc
*.swp
anneal_output.txt
*.gv
*.dot
*.out
*.ka
fits/
imstor
matlab/
trash/
data/trash/
last_docs_built.txt
